.App {
  text-align: center;
}

.styles {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto
};

.textField {
  width: 300;
}