.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

div form :last-child {
  justify-content: center;
}

.styles {
  margin-top: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  /* padding-top: 30px; */
  padding-bottom: 30px;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  /* box-shadow: 0 3px 5px 2px rgba(93, 231, 81, 0.849) !important;
    background-color: aqua !important */
}

.link {
  color: white;
  text-decoration: none;
}

.deleteButton {
  background: red !important;
}

.createQuizButton {
  margin-top: 10px !important;
  align-self: center;
  width: 50% !important;
}

.logIn {
  color: white;
}

.signupButton {
  margin-bottom: 10px !important;
}
